 @font-face {
   font-family: 'BrandaYolq';
   src:  url('./Branda-yolq.woff2') format('woff2'),
         url('./Branda-yolq.woff') format('woff');
   font-weight: 600;
   font-style: normal;
}

.hello {
  color: red;
  font-family: 'BrandaYolq';
  //background: url('./icon.png');
  width: 30%;
}
